$color-aaaaaa: #c0498b;
$color-aaaaaa-border: #9f3771;
$color-aaaaa: #8b59be;
$color-aaaaa-border: #7240a4;
$color-aaaa: #596abe;
$color-aaaa-border: #4051a4;
$color-aaa: #599ebe;
$color-aaa-border: #4084a4;
$color-aae: #59bea8;
$color-aae-border: #40a48e;
$color-aa: #67cd75;
$color-aa-border: #41c052;
$color-ae: #9acd67;
$color-ae-border: #81c041;
$color-a: #cebe5a;
$color-a-border: #bdab38;
$color-b: #d7954b;
$color-b-border: #c47c2b;
$color-c: #e75637;
$color-c-border: #d23a19;
$color-d: #d12f2f;
$color-d-border: #a82525;




