@import "src/app/styles/colors";

app-annual-rating-item {
  display: inline-table;
  align-self: center;

  .annual-rating-item {
    a {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      padding: 8px 0;
      min-width: 56px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e7e7e7;
      border-right: none;
      -webkit-transition: background-color .2s, border-color .2s;
      transition: background-color .2s, border-color .2s;

      &:hover {
        color: white !important;
        border-right: none;
      }
    }
  }

  &.rating-aaaaaa-button {
    .annual-rating-item {
      a {
        color: $color-aaaaaa;

        &:hover {
          background: $color-aaaaaa;
          border: 1px solid $color-aaaaaa-border;
        }
      }
    }
  }

  &.rating-aaaaa-button {
    .annual-rating-item {
      a {
        color: $color-aaaaa;

        &:hover {
          background: $color-aaaaa;
          border: 1px solid $color-aaaaa-border;
        }
      }
    }
  }

  &.rating-aaaa-button {
    .annual-rating-item {
      a {
        color: $color-aaaa;

        &:hover {
          background: $color-aaaa;
          border: 1px solid $color-aaaa-border;
        }
      }
    }
  }

  &.rating-aaa-button {
    .annual-rating-item {
      a {
        color: $color-aaa;

        &:hover {
          background: $color-aaa;
          border: 1px solid $color-aaa-border;
        }
      }
    }
  }

  &.rating-aae-button {
    .annual-rating-item {
      a {
        color: $color-aae;

        &:hover {
          background: $color-aae;
          border: 1px solid $color-aae-border;
        }
      }
    }
  }

  &.rating-aa-button {
    .annual-rating-item {
      a {
        color: $color-aa;

        &:hover {
          background: $color-aa;
          border: 1px solid $color-aa-border;
        }
      }
    }
  }

  &.rating-ae-button {
    .annual-rating-item {
      a {
        color: $color-ae;

        &:hover {
          background: $color-ae;
          border: 1px solid $color-ae-border;
        }
      }
    }
  }

  &.rating-a-button {
    .annual-rating-item {
      a {
        color: $color-a;

        &:hover {
          background: $color-a;
          border: 1px solid $color-a-border;
        }
      }
    }
  }

  &.rating-b-button {
    .annual-rating-item {
      a {
        color: $color-b;

        &:hover {
          background: $color-b;
          border: 1px solid $color-b-border;
        }
      }
    }
  }

  &.rating-c-button {
    .annual-rating-item {
      a {
        color: $color-c;

        &:hover {
          background: $color-c;
          border: 1px solid $color-c-border;
        }
      }
    }
  }

  &.rating-d-button {
    .annual-rating-item {
      a {
        color: $color-d;

        &:hover {
          background: $color-d;
          border: 1px solid $color-d-border;
        }
      }
    }
  }
}
