<div class="footer">
  <div class="brief-details">
    <span>Pavel Franta</span>
    <span>Front end Developer</span>
    <span>Zonky - Domácí úkol</span>
  </div>
  <div class="zonky-hero">
    <div class="pavel-citat">
      <span>I Pavel</span>
      <span>může být</span>
      <span>ZONKY</span>
    </div>
    <img alt="Zonky-hero" src="../../../assets/zonky-hero.png">
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/pavel.franta.87" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="https://www.youtube.com/watch?v=EXvvSzBZKLQ" target="_blank"><i
      class="fab fa-youtube-square fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/pavel-franta-3719b2116/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
</div>
