.header {
  background: white;
  height: 50px;
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, .3);
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  .ember-header {
    height: 30px;
    display: inline-block;
    padding: 12px 0 0 16px;

    a {
      display: inline-block;

      img {
        display: block;
        height: 30px;
        width: 140px;
      }
    }
  }

  .nav-right {
    height: 100%;
    display: flex;

    .hamburger-button {
      display: none;
    }

    .language-indicator {
      .flag {
        height: 24px;
        width: 24px;
        overflow: hidden;
        border-radius: 16px;
        margin-right: 0.6rem;

        img {
          display: inline-block;
        }

        & > .flag-cz {
          position: relative;
          top: -70px;
          left: -96px;
        }
      }
    }

    .separator-vertical {
      height: calc(50px - 2 * 8px);
      margin: 8px 8px 0;
      width: 1px;
      background-color: #d6d6d6;
      border: none;
    }

    & > .nav-item {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;

      & > i {
        padding-right: .75rem;
      }
    }
  }
}

.phone-contact {
  color: #37b4be;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
  }
}

.hamburger-menu {
  visibility: hidden;
  .nav-item-hamburger {
    height: 30px;
    background: white;
    padding-left: 1rem;
    display: flex;
    align-items: center;

    i {
      padding-right: .75rem;
    }
  }
}


@media only screen and (max-width: 620px) {
  .header {
    .nav-right {
      .phone-contact {
        padding-right: 0;
      }

      .language-indicator {
        display: none;
      }

      .separator-vertical {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 505px) {
  .header {
    .nav-right {
      .hamburger-button {
        display: block;
        padding: 8px 15px;
        cursor: pointer;
      }

      .phone-contact {
        display: none;
      }

      .language-indicator {
        display: none;
      }

      .separator-vertical {
        display: none;
      }

      .log-in-button {
        display: none;
      }
    }
  }
  .hamburger-menu {
    visibility: visible;
  }
}

