<div class="header">
  <div class="ember-header">
    <a href="" title="Zonky - Lidé půjčují lidem">
      <img alt="zonky-logo" src="./../assets/logo-black.svg">
    </a>
  </div>
  <nav class="navigation">
    <div class="nav-right">
      <div class="nav-item phone-contact">
        <ng-container *ngTemplateOutlet="telTemplate"></ng-container>
      </div>
      <div class="nav-item language-indicator">
        <div class="flag">
          <img alt="cz" class="flag-cz" src="./../assets/flags.png">
        </div>
        <strong>CZ</strong>
      </div>
      <hr class="separator-vertical">
      <div class="nav-item log-in-button">
        <ng-container *ngTemplateOutlet="logInTemplate"></ng-container>
      </div>
      <i (click)="showHamburgerMenu = true" *ngIf="!showHamburgerMenu" class="fas fa-bars fa-2x hamburger-button"></i>
      <i (click)="showHamburgerMenu = false" *ngIf="showHamburgerMenu" class="fas fa-times fa-2x hamburger-button"></i>
    </div>
  </nav>
</div>
<div *ngIf="showHamburgerMenu" class="hamburger-menu">
  <div class="nav-item-hamburger phone-contact">
    <ng-container *ngTemplateOutlet="telTemplate"></ng-container>
  </div>
  <div class="nav-item-hamburger log-in-button">
    <ng-container *ngTemplateOutlet="logInTemplate"></ng-container>
  </div>
</div>

<ng-template #telTemplate>
  <i class="fas fa-phone fa-lg"></i>
  <a href="tel:+420800449999">+420 800 449 999</a>
</ng-template>

<ng-template #logInTemplate>
  <i class="far fa-user-circle fa-lg"></i>
  <strong>Přihlásit se</strong>
</ng-template>

