.application {
  height: 100vh;
  background: #f6f6f6;

  .body {
    padding: 0 10vw;

    & > .nadpis {
      font-family: "Amatic SC", cursive;
      font-weight: 600;
      color: #37b4be;
    }

    & > h1 {
      background: inherit;
      font-size: 74px;
      text-align: center;
      margin: .67em 0;
    }

    & > .dodatek {
      display: block;
      font-size: 20px;
      text-align: right;
      margin: 0.67em 0;
      position: relative;
      top: -40px;
      right: 60px;
    }
  }
}
