.application {
  height: 100vh;
  background: #f6f6f6;

  .body {
    max-width: 940px;
    padding: 1rem;
    margin: 0 auto;
    min-height: calc(100vh - 250px);

    & > .nadpis {
      font-family: "Amatic SC", cursive;
      font-weight: 600;
      color: #37b4be;
    }

    & > h1 {
      background: inherit;
      font-size: 74px;
      text-align: center;
      margin: 0;
    }

    & > .dodatek {
      display: block;
      font-size: 20px;
      text-align: right;
      margin: 0.67em 0;
      position: relative;
      top: -6px;
    }
  }
}

@media only screen and (max-width: 970px) {
  .application {
    .body {
      .nadpis {
        font-size: 7vw;
      }

      .dodatek {
        font-size: 3vw;
      }
    }
  }
}
